body{
	font-family: courier;
}

.bgcolor{
	background-color: #20c997;
}

h1{
	padding-top: 10px;
}
.blue-text{
	color:#2196F3;
}
.wrapper{
	text-align: center;
}
.button{
	position: absolute;
	top:50%;
}
.btn-size{
	width: 130px;
}
.left{
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.custom-control{
	min-height: 2.21875rem;
    padding-left: 2.75rem;
}

